<head>
    <style>
        footer {
            position: fixed;
            bottom: 0;
        }
        .error {
            flex-direction: column;
        }
    </style>
</head>

<div class="fw-bold d-flex mt-5 error justify-content-center align-items-center">
    <p class="h1">Error 404</p>
    <p class="h1">Página No encontrada...</p>
</div>