    <!--Banner-->
    <div id="galeria" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../images/Banner-11.jpg" alt="imagen-1">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../images/Banner-22.jpg" alt="imagen-2">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../images/Banner-33.jpg" alt="imagen-3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#galeria" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#galeria" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <!--IMPRESCINDIBLES-->
    <section class="container">
        <div class="row">
            <div class="col-12 text-center mt-5 mb-2">
                <h2>Imprescindibles</h2>
            </div>
            <article class="col-md-6 mt-2 mb-3 op">
                <div class="card card-effect">
                    <img src="../images/Aventura.jpg" class="card-img " alt="Aventura" >
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-end align-items-center m-2">
                    <p><a href="/servicios" class="btn text-light text-center fw-bold texto ">Aventura</a></p>
                    </div>
                </div>
            </article>
            <article class="col-md-6 mt-2 mb-3 op">
                <div class="card card-effect ">
                    <img src="../images/Circuitos.jpg" class="card-img" alt="Circuitos Turísticos" >
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-end align-items-center m-2">
                        <p><a href="/servicios" class="btn text-light text-center fw-bold texto ">Circuitos Turísticos</a></p>
                    </div>
                </div>
            </article>
            <article class="col-md-6 mt-2 mb-3 op">
                <div class="card card-effect">
                    <img src="../images/Enoturismo.jpg" class="card-img" alt="Enoturismo" >
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-end align-items-center m-2">
                        <p><a href="/servicios" class="btn text-light text-center fw-bold texto ">Enoturismo</a></p>
                    </div>
                </div>
            </article>

            <article class="col-md-6 mt-2 mb-5 op">
                <div class="card card-effect">
                    <img src="../images/Festividades.jpg" class="card-img" alt="Festividades" >
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-end align-items-center m-2">
                        <p><a href="/servicios" class="btn text-light text-center fw-bold texto ">Festividades</a></p>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!--NOTICIAS-->
    <section class="container p-0">
        <div class="text-center mt-5 mb-4">
            <h2>Actualidad</h2>
        </div>
        <div id="noticias" class="carousel slide " data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="true" data-bs-wrap="true" >

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#noticias" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Noticia #1"></button>
                <button type="button" data-bs-target="#noticias" data-bs-slide-to="1" aria-label="Noticia #2"></button>
                <button type="button" data-bs-target="#noticias" data-bs-slide-to="2" aria-label="Noticia #3"></button>

            </div>
            <div class="carousel-inner ">
                <article class="carousel-item active">
                    <img class="d-block w-100" src="../images/Noticia-1.jpg" alt="imagen Noticia #1">
                        <div class="carousel-caption">
                        <h3>Noticia #1</h3>
                        <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, expedita.</p>
                        <a href="#" class="btn mb-3 btn-outline-light btn-sm">Ver Más</a>
                    </div>
                </article>
                <article class="carousel-item">
                    <img class="d-block w-100" src="../images/Noticia-2.jpg" alt="imagen Noticia #2">
                    <div class="carousel-caption">
                        <h3>Noticia #2</h3>
                        <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, expedita.</p>
                        <a href="#" class="btn mb-3 btn-outline-light btn-sm">Ver Más</a>
                    </div>
                </article>
                <article class="carousel-item">
                    <img class="d-block w-100" src="../images/Noticia-3.jpg" alt="imagen Noticia #3">
                    <div class="carousel-caption">
                        <h3>Noticia #3</h3>
                        <p class="d-none d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, expedita.</p>
                        <a href="#" class="btn mb-3 btn-outline-light btn-sm">Ver Más</a>
                    </div>
                </article>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#noticias" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#noticias" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>

        {{!-- <div class="container text-center mt-3 mb-5">
            <div class="row">
                <div class="col-12 ">
                    <img src="../images/Publicidad.gif" class="img-fluid " alt="Banner"/>
                </div>
            </div>
        </div> --}}
    </section>

    <!--PLANEA TU VIAJE-->
    <section id="planea_tu_viaje"class="container">
        <div class="row">
            <div class="col-12 text-center mt-5 mb-2">
                <h2>Planea tu Viaje</h2>
            </div>

            <article class="col-md-4 mt-2 mb-3 op">
                <div class="card card-effect">
                    <img src="../images/alojamiento.jpg" class="card-img " alt="Alojamientos" >
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-end align-items-center m-2">
                    <p><a href="#" class="btn text-light text-center fw-bold texto ">Alojamientos</a></p>
                    </div>
                </div>
            </article>

            <article class="col-md-4 mt-2 mb-3 op">
                <div class="card card-effect ">
                    <img src="../images/Transporte_Combis3.jpg" class="card-img" alt="Transportes" >
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-end align-items-center m-2">
                        <p><a href="#" class="btn text-light text-center fw-bold texto ">Transportes</a></p>
                    </div>
                </div>
            </article>

            <article class="col-md-4 mt-2 mb-5 op">
                <div class="card card-effect">
                    <img src="../images/rappel00.jpg" class="card-img" alt="Excursiones" >
                    <div class="card-img-overlay text-white d-flex flex-column justify-content-end align-items-center m-2">
                        <p><a href="#" class="btn text-light text-center fw-bold texto ">Excursiones</a></p>
                    </div>
                </div>
            </article>
        </div>
    </section>
