<head>
    <style>
        footer {
            position: absolute;
            bottom: 0;
        }
        .flex{
            flex-direction: column;
        }
    </style>
</head>
<div class="container flex d-flex justify-content-center mt-3">
    <h1>Sección Secreta</h1>
    <p>Hola {{user}}</p>
    <a href="/login/logout">
    <input type="button" class="btn btn-danger" value="Logout">
    </a>
</div>