
<footer class="container-fluid color">
        <div class="row">
            <div class="col-md-4">
                <a href="/"><img src="../images/Logo.svg" class="img-fluid" alt="Logo-Color"></a>
            </div>

            <div class="col-md-5 navbar navbar-expand-lg p-5 d-block">
                <ul class="navbar-nav text-center">
                    <li class="nav-item ps-lg-5"> <a class="nav-link text-light" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="#">Excursiones</a></li>
                    <li class="nav-item"> <a class="nav-link text-light" href="#">Listado</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="#">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="#">Login</a></li>
                </ul>
            </div>

                <div class="col-sm d-flex  pb-3 align-items-end alto">
                    <div class=" navbar navbar-expand-xs align-items-center">
                        <ul class="navbar-nav logos">
                            <li><a href="https://www.instagram.com/" target="_blank"><img src="../images/instagram.png" class="logo"  alt="Logo Instagram"></a></li>
                            <li><a href="https://twitter.com/" target="_blank"><img src="../images/twitter.png" class="logo" alt="Logo Twitter"></a></li>
                            <li><a href="https://es-la.facebook.com/" target="_blank"><img src="../images/facebook.png" class="logo" alt="Logo Facebook"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm d-none">
                    <a href="mailto:info@sanrafael.com.ar?subject=contacto" class="text-light align-items-end">info@sanrafael.com.ar</a>
                    </div>
                </div>
        </div>
        <div class="row color3 mt-2">
                <p class="text-center text-light pt-3">©Esta es una entrega realizada por el Alumno Fernando Matías Noé - UTN 2021</p>
        </div>
    </footer>


